body{
	background: url(img/wp.gif) no-repeat fixed;
	background-size:cover;
	text-align:center;
	font-family:Cousine;
}

body.index{
	height: 97vh;
}

.frame{
	margin-top:10px;
	margin-bottom:10px;
}

.language{
	text-decoration:none;
	font-size:1.2em;
	position: fixed;
	right:8px;
	top: 2px;
	background-color: rgba(220, 237, 200, 0.9);
	border-radius: 3px;
	z-index: -1;
}

br{
	margin-bottom: 5px;
}

.links{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	/*grid-auto-flow: column;*/
}

.link{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content:center;
	align-items:center;
	width: 265px;
	height: 215px;
	margin: 10px;
	background-color: rgba(220, 237, 200, 0.55);
	/*border: 3px solid skyblue;*/
	border-radius: 2%;
	transition-property: opacity, box-shadow;
	transition-duration: 0.3s, 0.6s;
	/*animation-name: spin;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;*/
}

a{
	text-decoration: none;
	color: inherit;
}

a.text-link::before{
	content: ">"
}

a.text-link::after{
	content: "<";
}

.link:hover {
	opacity: 0.6;
	box-shadow: 4px 4px chartreuse, -4px -4px chartreuse, -4px 4px chartreuse, 4px -4px chartreuse;
	/*animation-name: heylisten;
	animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;*/
}

.link span{
	font-family:tintin;
	font-size:1.5em;
	position: relative;
	top: 3%;
}

.marquee{
	animation: marquee 10s linear infinite;
}

.content-container{
	margin: 20px 10%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto ;
	gap: 10px;
}

.content{
	width: auto;
	height: auto;
	margin: 5%;
	padding: 1%;
	background-color: rgba(220, 237, 200, 0.80);
	border-radius: 5px;
	border: 5px dotted #b4d545;
	overflow: auto;
}

.content h1, h2{
	font-family: tintin;
}

.content h1{
	text-decoration: underline;
}

.matos{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.matos ul{
	text-align: left;
}

.section-sep{
	border: none;
	border-top: 2px solid skyblue;
}

.sub-sep{
	border: none;
	border-top: 3px dotted rgba(0, 0, 255, 0.6);
}

.footer{
	/*position: fixed;
	top: 5px;*/
	margin: 0 auto;
	background-color: rgba(220, 237, 200, 0.9);
	border-radius: 3px;
	/*right: 50%;*/
	animation-name: foot-anim;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*z-index: -1;*/
}

.footer::before, .footer::after{
	content: "<<<";
}

@keyframes spin{
	from{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(359deg);
	}
}
@keyframes foot-anim{
	0%{
		color: #84008c;
	}
	12.5%{
		color: #3f0098;
	}
	25%{
		color: #46bebc;
	}
	37.5%{
		color: #2f8a00;
	}
	50%{
		color: #fdff00;
	}
	62.5%{
		color: #f48a00;
	}
	75%{
		color: #f00100;
	}
	87.5%{
		color: #f366b1;
	}
	100%{
		color: #84008c;
	}
}

@keyframes marquee{
	from{
		transform: translateX(100%);
	}
	to{
		transform: translateX(-100%);
	}
}


@keyframes heylisten{
	50%{
		transform: scale(1.05,1.05);
	}
}

@font-face{
	font-family:Cousine;
	src:url(./fonts/CousineNerdFont-Regular.ttf);
}

@font-face{
	font-family:tintin;
	src:url(./fonts/tintin_talking.ttf);
}
